# name: Run Python script

# on:
#   push:
#     branches:
#       - main

# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#     - name: Checkout
#       uses: actions/checkout@v2

#     - name: Set up Python
#       uses: actions/setup-python@v2
#       with:
#         python-version: '3.9'

#     - name: Install Gradio
#       run: python -m pip install gradio

#     - name: Log in to Hugging Face
#       run: python -c 'import huggingface_hub; huggingface_hub.login(token="${{ secrets.hf_token }}")'

#     - name: Deploy to Spaces
#       run: gradio deploy

name: Sync to Hugging Face Hub
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: git push --force https://bmt3755:$HF_TOKEN@huggingface.co/spaces/bmt3755/AI_Digital_Twin